*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
    color: white;
    background-color: blue;
}

nav ul {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.logo {
    cursor: pointer;
}

.loader {
    font-size: 24px;
    font-weight: 600;
    
}
.movie-img-wrapper {
    background-size: cover;
}

.movie .movie-img-wrapper {
    height: 300px;
    width: 200px;
}

.movie-holder {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.d-none{
    display: none;
}
.v-none{
    visibility: hidden;
}

